@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Primary*/
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    /*Neutral*/
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}


body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    background-color: var(--dark-grayish-blue);
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 0.1px);
}

p{
    font-size: 28px;
    line-height: 1.5;
}


.container {
    background-color: var(--grayish-blue);
    padding: 1.25rem 1.25rem  2rem ;
    border-radius: 1rem;
    position: relative;
    
}

.container h1{
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}
 .container p{
    margin-bottom: 2rem;
    color: var(--light-cyan);
 }

 .container button{
    background-color: var(--neon-green);
    font-size: 15px;
    color: var(--grayish-blue);
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    
    transform: translateX(-50%);
 }
 .container button:hover{
    background-color:  var(--light-cyan);
 }


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 4rem;
    color: var(--light-cyan);
}

.attribution a {
    color: hsl(228, 65%, 62%);
    transition: color 0.3s ease-in-out;
}

.attribution a:hover {
    color: hsl(228, 40%, 40%);
}

@media (min-width: 500px) {
    .container{
        max-width: 480px;
    }
}